<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>

    {{>navbar}}

    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <img src="images/about.png" alt="jeet" class="img-fluid" title="jeet weather"/>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to weather app</p>
                        <h1> I Am A <span class="text_clr"> MERN Stack </span> Developer </h1>
                        <a href="/"><button> About ME </button> </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {{>footer}}
</body>
</html>